<div>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
    <div mat-dialog-content>
        <h4>appelez-nous</h4>
        <p><fa-icon [icon]="phoneIcon"></fa-icon>04 83 43 64 26</p>
        <h4>ou Ecrivez-nous</h4>
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
            <div>
                <input type="text" formControlName="nom" placeholder="Votre nom">
                <input type="text" formControlName="raisonSociale" placeholder="Raison sociale">
            </div>
            <div>
                <input type="text" formControlName="phone" placeholder="Numéro de telephone">
                <input type="email" formControlName="email" placeholder="Votre email">
            </div>
            <div>
                <textarea formControlName="message" cols="12" rows="6" placeholder="Votre message ..."></textarea>
            </div>
            <button type="submit">Envoyer<fa-icon [icon]="paperPlaneIcon"></fa-icon></button>
        </form>
    </div>
</div>