div{
    .mat-icon-button{
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(255,255,255,.9);
        &:hover{
            color: #fff;
        }
    }
    .mat-dialog-content{
        margin: 0 !important;
        padding: 25px 20px 10px 20px !important;
        overflow: unset !important;
        h4{
            font-size: 30px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            &:after{
                position: absolute;
                content: "";
                width: 40px;
                height: 5px;
                bottom: -10px;
                left: calc(50% - 20px);
                background: #fff;
            }
        }
        p{
            color: #fff;
            text-align: center;
            fa-icon{
                color: #fff;
                font-size: 44px;
                vertical-align: text-bottom;
                margin-right: 10px;
            }
            &:first-of-type{
                font-size: 36px;
                margin: 15px 0 3px 0;
            }
        }
    }
    .mat-dialog-actions{
        button{
            color: var(--blue-primary);
        }
    }
}