header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    z-index: 20;
    img{
        width: 200px;
        @media screen and (max-width : 700px){
            width: 150px;
            height: 29px;
        }
    }
    nav{
        margin: auto 13px auto auto;
        @media screen and (max-width : 700px){
            margin-right: 10px
        }
    }
    > a{
        display: flex;
        @media screen and (max-width : 700px){
            margin-left: calc(50% - 75px);
        }
    }
    button:not(#menu-hamburger){
        color: white;
        font-size: 16px;
        border: none;
        height: 35px;
        margin-left: 10px;
        padding: 0 10px;
        border-radius: 7px;
        cursor: pointer;
        -webkit-transition: ease-out .6s;
        -moz-transition: ease-out .6s;
        transition: ease-out .6s;
        box-shadow: inset 0 0 0 0 #3abedf;
        &:first-of-type{
            background: var(--blue-primary);
        }
        &:nth-of-type(2){
            background: var(--blue-secondary);
        }
        &:hover{
            box-shadow: inset 400px 0 0 0 #3abedf;
            -webkit-transition: ease-out 1s;
            -moz-transition: ease-out 1s;
            transition: ease-out 1s;
        }
    }
    span{
        position: relative;
        display: flex;
        margin: 0 10px;
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        font-size: 18px;
        cursor: pointer;
    }
    &.active{
        background: white;
        opacity: 0.97;
        box-shadow: 0 0 4px 1px #96969680;
        span, a{
            color: var(--blue-primary);
        }
    }
    &.secteur{
        background: #fff;
        box-shadow: 0 0 4px 1px #96969680;
        a{
            color: var(--blue-primary);
        }
    }
    &.mentions_legales{
        background: var(--blue-primary);
        box-shadow: 0 0 4px 1px #96969680;
    }
}

.header-dropdown{
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    z-index: -1;
    a{
        color: var(--blue-primary);
        padding: 5px 0;
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
    }
    > a{
        position: relative;
        display: flex;
        margin: 0 10px;
        color: #fff;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 400;
        &:after{
            content: "";
            background: var(--blue-secondary);
            height: 4px;
            position: absolute;
            bottom: -7px;
            transition: .16s all 0.025s;
            right: 100%;
            left: 4px;
        }
        &:hover{
            &:after{
                left: 4px;
                right: 4px;
            }
        }
    }
    &.mobile{
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        background: #fff;
        width: 100%;
        top: 0;
        right: 0;
        transform-origin: top;
        transform: scaleY(0);
        padding: 65px 0 20px 0;
        box-shadow: 0px 7px 5px -1px rgba(0,0,0,.15);
        border-radius: 0 0 25px 25px;
        > a{
            color: var(--blue-primary);
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 25px;
            padding: 0;
        }
        span{
            color: var(--blue-primary);
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        button:first-of-type{
            margin-bottom: 13px;
        }
        #dropdown_nos-solutions, #dropdown_nos-secteurs{
            display: none;
            position: relative;
            top: -15px;
            left: 20px;
            margin-bottom: 10px;
            opacity: 1;
            padding: 0;
            background: transparent;
            box-shadow: none;
            transform: translateZ(0);
            transition: .3s ease-in-out;
            a{
                font-size: 18px;
                color: var(--blue-secondary);
            }
            &.show{
                display: flex !important;
            }
        }
        &.show{
            transform: scaleY(1);
            transition: .5s ease-in-out;
        }
    }
}

#menu-hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11a8da;
    background-color: var(--blue-secondary);
    color: white;
    border: 1px solid #fff;
    width: 38px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#solution_hover, #secteurs_hover{
    position: relative;
    &:after{ /* pour la zone hover de nos solutions et secteurs activité*/
        position: absolute;
        content: '';
        top: 20px;
        width: 200px;
        height: 15px;
        left: 20px;
    }
    &:hover{
        span{
            font-weight: 500; 
        }
    }
}

#solution_hover:hover #dropdown_nos-solutions, #secteurs_hover:hover #dropdown_nos-secteurs{
    transform: translateZ(0);
    transition: .3s ease-in-out;
}

#dropdown_nos-solutions, #dropdown_nos-secteurs{
    position: absolute;
    top: 35px;
    width: max-content;
    display: flex;
    flex-direction: column;
    background: #fff;
    opacity: .97;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,.15);
    border-radius: 9px;
    transform: translate3d(0,-50%,0) scaleY(0);
    transition: .2s ease-in-out;
    .fleche-dropdown{
        position: absolute;
        top: -6px;
        left: 28%;
        width: 13px;
        height: 13px;
        background-color: #fff;
        opacity: .97;
        border-radius: 3px;
        transform: rotate(-45deg);
        z-index: -1;
    }
    a{
        &:hover{
            font-weight: 600;
            img{
                transform: scale(1.35);
            }
        }
    }
}

#dropdown_nos-solutions{
    img{
        width: 40px;
        vertical-align: middle;
        margin: 0 15px 5px 0;
        transition: .5s;
    }
}

#dropdown_nos-secteurs{
    left: 30px;
    img{
        width: 40px;
        vertical-align: middle;
        margin: 0 15px 5px 0;
        transition: .5s;
    }
}