<header [class.active]="scrolled && this.headerPage != 'mentionsLegales'" [ngClass]="{'secteur': this.headerPage == 'secteur', 'mentions_legales': this.headerPage == 'mentionsLegales' }">
    <a routerLink=""><img src="./assets/img/header/logo-woozoo.png" alt="woozoo"></a>
    <nav>
        <button *ngIf="getScreenWidth < 800" (click)="dropdownHeader()" id="menu-hamburger" [class.active]="headerMobileShow">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </button>

        <div class="header-dropdown" [ngClass]="{'mobile': getScreenWidth < 800, 'show': headerMobileShow}">
            <a routerLink="{{ cheminRouterLink }}">Accueil</a>
            <a *ngIf="headerPage === 'coursier'" (click)="scroll('avantages',100)">Nos Avantages</a>
            <div *ngIf="headerPage === 'professionnel'" id="solution_hover">
                <span (click)="solutionsSubMenu = !solutionsSubMenu">nos solutions</span>
                <div id="dropdown_nos-solutions" [ngClass]="{'show': solutionsSubMenu}"> <!-- dropdown nos solutions -->
                    <div class="fleche-dropdown"></div>
                    <a (click)="scroll('offre',100)"><img src="./assets/img/professionnel/offre/mobile_course-demande.png" alt="course à la demande">Course à la demande</a>
                    <a (click)="scroll('mise_disposition',100)"><img src="./assets/img/header/livreur.png" alt="mise à disposition">Mise à disposition</a>
                </div>
            </div>
            <div *ngIf="headerPage === 'professionnel'" id="secteurs_hover">
                <span (click)="secteursSubMenu = !secteursSubMenu">nos secteurs d'activité</span>
                <div id="dropdown_nos-secteurs" [ngClass]="{'show': secteursSubMenu}"> <!-- dropdown nos secteurs -->
                    <div class="fleche-dropdown"></div>
                    <a routerLink="../secteur" (click)="changeSecteur('restaurant')"><img src="./assets/img/header/sushi.png" alt="restaurant">Restaurant</a>
                    <a routerLink="../secteur" (click)="changeSecteur('luxe')"><img src="./assets/img/professionnel/secteurs/luxe.png" alt="luxe">Retail & luxe</a>
                    <a routerLink="../secteur" (click)="changeSecteur('liberale')"><img src="./assets/img/header/liberale_header.png" alt="profession libérale">Profession libérale</a>
                    <a routerLink="../secteur" (click)="changeSecteur('inter-magasin')"><img src="./assets/img/professionnel/secteurs/double_arrow.png" alt="inter-magasin">Inter-magasin</a>
                </div>
            </div>
            <button (click)="openPopupFormulaire()">{{ boutonContact }}</button>
            <button *ngIf="headerPage != 'coursier'" (click)="openPopup()">Lancez une livraison</button>
        </div>
    </nav>
</header>