<header [class.active]="scrolled" [ngClass]="{'secteur': headerSecteur}">
    <a routerLink=""><img src="./assets/img/header/{{logoWoozoo}}.png" alt="logo woozoo"></a>
    <nav>
        <button *ngIf="getScreenWidth < 700" (click)="dropdownHeader()" id="menu-hamburger"><fa-icon [icon]="barreIcon"></fa-icon></button>
        <div class="header-dropdown" [ngClass]="{'mobile': getScreenWidth < 700, 'show': headerMobileShow}">
            <a routerLink="{{ cheminRouterLink }}">Accueil</a>
            <a *ngIf="headerPage === 'coursier'" (click)="scroll('avantages',100)">Nos Avantages</a>
            <div *ngIf="headerPage === 'professionnel'" id="solution_hover">
                <span (click)="solutionsSubMenu = !solutionsSubMenu">nos solutions</span>
                <div id="dropdown_nos-solutions" [ngClass]="{'show': solutionsSubMenu}"> <!-- dropdown nos solutions -->
                    <div class="fleche-dropdown"></div>
                    <a (click)="contenuVisibleOffre('demande')"><img src="./assets/img/professionnel/offre/mobile_course-demande3.png" alt="">Course à la demande</a>
                    <a (click)="contenuVisibleOffre('securite')"><img src="./assets/img/professionnel/offre/sac-scelle2.png" alt="">Course haute sécurité</a>
                    <a (click)="contenuVisibleOffre('disposition')"><img src="./assets/img/professionnel/offre/coursier_bleu.png" alt="">Mise à disposition</a>
                    <a (click)="contenuVisibleOffre('optimisation')"><img src="./assets/img/professionnel/offre/mockup_tournee.png" alt="">Optimisation de tournées</a>
                </div>
            </div>
            <div *ngIf="headerPage === 'professionnel'" id="secteurs_hover">
                <span (click)="secteursSubMenu = !secteursSubMenu">nos secteurs d'activité</span>
                <div id="dropdown_nos-secteurs" [ngClass]="{'show': secteursSubMenu}"> <!-- dropdown nos secteurs -->
                    <div class="fleche-dropdown"></div>
                    <a routerLink="../secteur" (click)="changeSecteur('commerce')"><img src="./assets/img/header/shop.svg" alt="commerce">Commerce</a>
                    <a routerLink="../secteur" (click)="changeSecteur('luxe')"><img src="./assets/img/header/mode.svg" alt="luxe">Retail & luxe</a>
                    <a routerLink="../secteur" (click)="changeSecteur('e-commerce')"><img src="./assets/img/header/online.svg" alt="e-commerce">E-commerce</a>
                    <a routerLink="../secteur" (click)="changeSecteur('restaurant')"><img src="./assets/img/header/restaurant.svg" alt="restaurant">Restaurant</a>
                </div>
            </div>
            <button (click)="openPopupFormulaire()">{{ boutonContact }}</button>
            <button *ngIf="headerPage != 'coursier'" (click)="openPopup()">Lancez une livraison</button>
        </div>
    </nav>
</header>