<footer>
    <div>
        <!-- <video autoplay muted loop>
          <source src="assets/video/woozoo-loop.mp4" type="video/mp4">
        </video> -->
        <div id="container-video">
            <ng-lottie
            [options]="options">
          </ng-lottie>
        </div>
        <div class="solutions">
            <div>
                <div>
                    <p>{{ titreLinkFooter }}</p>
                    <div *ngIf="footerPage === 'professionnel'">
                        <a routerLink="{{ cheminRouterLink }}" (click)="changeSecteur('restaurant')">restaurant</a>
                        <a routerLink="{{ cheminRouterLink }}" (click)="changeSecteur('luxe')">retail & luxe</a>
                        <a routerLink="{{ cheminRouterLink }}" (click)="changeSecteur('liberale')">profession liberale</a>
                        <a routerLink="{{ cheminRouterLink }}" (click)="changeSecteur('inter-magasin')">inter-magasin</a>
                    </div>
                    <div *ngIf="footerPage === 'secteur'">
                        <a routerLink="{{ cheminRouterLink }}" (click)="changeOffre('offre')">Course à la demande</a>
                        <a routerLink="{{ cheminRouterLink }}" (click)="changeOffre('mise_disposition')">Mise à disposition</a>
                    </div>
                    <div *ngIf="footerPage === 'coursier'">
                        <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="500" href="#avantages">nos avantages</a>
                        <a pageScroll [pageScrollOffset]="120" [pageScrollDuration]="500" href="#besoin_coursier">critères requis</a>
                        <a (click)="activerPopupInscription()" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="500" href="#form_coursier">inscription</a>
                        <a pageScroll [pageScrollOffset]="80" [pageScrollDuration]="500" href="#csm">comment sa marche ?</a>
                    </div>
                </div>
                <div>
                    <p>+ d'info</p>
                    <a routerLink="/conditionsGenerales">Conditions générales</a>
                    <a routerLink="/confidentialite">Politique de Confidentialité</a>
                    <a routerLink="/mentionsLegales">Mentions légales</a>
                    <a (click)="openPopupFormulaire()">contact</a>
                </div>
            </div>
            <div class="telecharger">
                <p>Suivez nous</p>
                <div>
                    <a href="" target="_blank"><img src="./assets/img/footer/facebook.svg" alt="logo facebook"></a>
                    <a href="https://www.instagram.com/woozoo_officiel/" target="_blank"><img src="./assets/img/footer/instagram.svg" alt="logo instagram"></a>
                    <a href="https://www.linkedin.com/company/woozoo-officiel/" target="_blank"><img src="./assets/img/footer/linkedin.svg" alt="logo linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copright">
        <p>&copy; {{currentDate | date: 'yyyy'}} | WOOZOO</p>
    </div>
</footer>