footer{
    background: #00202f;
    background: #000e22;
    padding: 30px 8% 15px 8%;
    padding: 10px 0 15px 0;
    > div:not(.copright){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        padding-right: 50px;
        padding-right: 4%;
    }
    a{
        &:hover{
            color: var(--blue-secondary); 
        }
    }
}
.deux{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.trois{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-video{
    width: 30%;
    width: 40%;
    max-height: 300px;
    overflow: hidden;
}
/* footer video{
    width: 30%;
    width: 40%;
    max-height: 300px;
} */
.footer_lien p, .footer_solutions p{
    color: var(--blue-secondary);
    font-weight: 600;
    text-transform: uppercase;
}
.footer_lien, .footer_solutions{
    display: flex;
    flex-direction: column;
    width: 35%;
    a{
        color: #fff;
        padding: 10px 0;
        text-decoration: underline;
        cursor: pointer;
    }
}

.telecharger{
    text-align: center;
    margin-top: 20px;
    > div{
        margin-top: 5px;
    }
    p{
        color: #fff;
        text-align: center;
        font-weight: 600;  
    }
    img{
        height: 33px;
        margin: 5px 10px;
        transition: .4s;
    }
    a:hover img{
        transform: scale(1.15); 
    }
}


.copright{
    position: relative;
    margin-top: 15px;
    color: #fff;
    font-size: 18px;
    p{
        color: #fff;
        text-align: center;
        font-weight: 600;
    }
    &:before{
        content: "";
        height: 1px;
        background: #fff;
        position: absolute;
        top: -13px;
        left: 5%;
        right: 5%;
    }
}
