section{
    position: relative;
    background: var(--blanc-opac);
    padding: 50px 0 13px;
    overflow: hidden;
    @media screen and (max-width : 900px){
        padding: 20px 0 35px;
    }
    h2{
        position: relative;
        width: max-content;
        display: flex;
        color: var(--blue-primary);
        margin: 0 auto 45px 7%;
        @media screen and (max-width : 500px){
            font-size: 30px;
            margin-bottom: 35px;
        }
        @media screen and (max-width : 550px){
            flex-direction: column;
        }
        span{
            margin-left: 7px;
            z-index: 1;
            @media screen and (max-width : 550px){
                margin-left: 0;
            }
        }
    }
    img{
        width: 120px;
    }
}