<app-header></app-header>
<section>
    <h1>Conditions générales</h1>
    <p>
        La société par actions simplifiée, WOOZOO, au capital de 5.000,00 €, enregistrée au Registre
    du Commerce et des Sociétés de Marseille sous le numéro 887 622 934, ayant son siège social
    au 6, boulevard Albertville, 13014, Marseille, fournit des Services de Courses par le biais d’une
    Application et/ou d’une Interface Professionnelle. Les termes débutant par une majuscule
    auront la définition qui leur est donnée dans nos Conditions Générales
    https://www.woozoo.fr/conditionsGenerales
    </p>
    <p>
        Les présentes conditions d’utilisation (ci-après les « Conditions d’Utilisation ») ont pour objet
        de définir les droits et obligations respectifs de WOOZOO et des Membres pour ce qui concerne
        la navigation sur l’Application et/ou l’Interface Professionnelle.
    </p>
    <p>
        Les Conditions d’Utilisation complètent les Conditions Générales. En cas de contradiction entre
        les Conditions Générales et les Conditions d’Utilisation, les Conditions Générales prévaudront. 
    </p>
    <h2>Acceptation des Conditions d’Utilisation</h2>
    <ul>
        <li>L’acceptation pleine et entière des Conditions d’Utilisation est requise préalablement à l’accès et la
            navigation sur l’Application et/ou l’Interface Professionnelle. Toute personne n’acceptant pas les
            Conditions d’Utilisation, doit s’abstenir de naviguer sur l’Application et/ou l’Interface Professionnelle.
        </li>
        <li>La navigation sur le Site vaut acceptation pleine et entière des Conditions d’Utilisation.</li>
    </ul>
    <h2>Inscription d’un Membre</h2>
    <ul>
        <li><span>Modalités d’inscription :</span>
            <ul>
                <li>
                    L’inscription en tant que Membre est nécessaire pour pouvoir accéder à l’Application et/ou
                    l’Interface Professionnelle et bénéficier des Services associés.
                </li>
                <li>
                    Toute personne majeure peut procéder à son inscription afin de devenir Membre, par le biais d’un
                    formulaire prévu à cet effet. A cet égard, le Membre garantit fournir des informations exactes et
                    actualisées le concernant.
                </li>
                <li>
                    Chaque Membre est responsable de la sécurité de son compte et notamment du choix
                    d’un mot de passe destiné à en assurer la confidentialité. En conséquence, chaque Membre
                    est seul responsable de toute utilisation qui pourrait être faite de son compte. Chaque
                    Membre devra donc avertir sans délai WOOZOO de toute utilisation non-autorisée, de toute
                    intrusion dans son compte ou de tout détournement de son compte.
                </li>
            </ul>
        </li>
        <li><span>Clôture de compte par le Membre</span> :<br>
            Chaque Membre peut clôturer son compte à tout moment.
        </li>
        <li><span>Suspension et clôture du compte d’un Membre par WOOZOO</span> :<br>
            Sous réserve des stipulations de l’article 6 des Conditions Générales, en cas de manquement d’un
            Membre aux stipulations des Conditions d’Utilisation et/ou aux Conditions Générales, WOOZOO se
            réserve le droit (i) de suspendre immédiatement et sans préavis le compte associé, de manière temporaire
            et/ou (ii) de le clôturer définitivement et ce, sans préavis.
        </li>
    </ul>
    <h2>Fonctionnement du compte Membre</h2>
    <ul>
        <li>L’inscription permet aux Membres d’accéder aux fonctionnalités suivantes :
            <ul>
                <li>Description du Membre établie par lui même</li>
                <li>Commande et suivi de Courses</li>
                <li>Suivi géolocalisé des Courses</li>
                <li>Interaction avec les Coursiers via interface tracking</li>
                <li>Notifications liées aux Courses</li>
                <li>Historique des Courses</li>
                <li>Gestion de l’abonnement à la newsletter de WOOZOO</li>
                <li>Notation des Coursiers</li>
                <li>Gestion de facturation</li>
                <li>Gestion de compte utilisateurs</li>
            </ul>
        </li>
        <li>WOOZOO est susceptible de faire évoluer les fonctionnalités du compte Membre et ne saurait être
            tenue responsable pour toute modification, adjonction, minoration desdites fonctionnalités.
        </li>
        <li>Sur le profil d’un Membre donné, les informations suivantes sont rendues accessibles aux autres
            Membres :
            <ul>
                <li>Le nom du Membre</li>
                <li>La photographie du Membre</li>
                <li>Notation du membre</li>
            </ul>
        </li>
    </ul>
    <h2>Responsabilité des Membres</h2>
    <ul>
        <li>Il revient donc aux Membres de veiller à ce que les règles de courtoisie élémentaires soient en tous
            temps respectées en adoptant une attitude cordiale. A ce titre, les Membres s’engagent de façon
            générale à respecter les lois et réglementations applicables. Plus particulièrement, il est strictement
            interdit de charger, consulter, stocker, publier, diffuser, transmettre ou distribuer sur ou via
            l’Application et/ou l’Interface Professionnelle tout contenu :
            <ul>
                <li>
                    à caractère violent, pornographique, pédophile, raciste, contraires aux bonnes mœurs,
                    faisant l’apologie de crimes de guerre ou de crimes contre l’humanité, ou susceptible
                    de porter atteinte au respect de la personne humaine et de sa dignité, ainsi qu’à la
                    protection des mineurs
                </li>
                <li>Attentatoires à la vie privée d’autrui</li>
                <li>
                    à caractère diffamatoire, obscène ou injurieux, constitutif de menaces ou de
                    harcèlement et de manière générale illicite
                </li>
                <li>
                    contenant des éléments protégés par des droits de propriété intellectuelle, sauf à
                    posséder les autorisations et licences nécessaires
                </li>
                <li>dans un but promotionnel ou commercial</li>
                <li>susceptible de porter atteinte à la réputation et l’image de marque interne et externe deWOOZOO</li>
            </ul>
        </li>
        <li>Le Membre s’engage à ne pas utiliser l’Application et/ou l’Interface Professionnelle de
            façon à :
            <ul>
                <li>
                    interrompre ou perturber l’intégrité ou la continuité des Services, de l’Application et/ou
                    de l’Interface Professionnelle
                </li>
                <li>
                    interférer avec l’utilisation et la jouissance de tout ou partie des Services, de
                    Application et/ou de l’Interface Professionnelle par un tiers
                </li>
                <li>diffuser des spams ou des messages dupliqués ou non sollicités</li>
                <li>diffuser ou stocker des virus</li>
                <li>modifier ou pirater l’Application et/ou de l’Interface Professionnelle</li>
                <li>
                    obtenir ou tenter d’obtenir tout document ou information par tout autre moyen
                    susceptible de porter atteinte à l’intégrité et à la conservation du contenu et des
                    ressources présent sur l’Application et/ou l’Interface Professionnelle.
                </li>
                <li>endommager, désactiver, surcharger ou altérer tout serveur de WOOZOO</li>
            </ul>
        </li>
    </ul>
    <h2>Responsabilité de WOOZOO</h2>
    <ul>
        <li>WOOZOO fait ses meilleurs efforts afin de permettre le bon fonctionnement et l’accessibilité de
            l’Application et/ou de l’Interface Professionnelle.
        </li>
        <li>Afin de procéder à la maintenance et/ou d’améliorer l’Application et/ou l’Interface Professionnelle,
            celles-ci sont susceptibles d’être suspendues pour de courtes périodes.
        </li>
        <li>WOOZOO ne saurait être tenue responsable des dommages directs ou indirects qui
            résulteraient de l’interruption, de la suspension, de la modification ou du mauvais
            fonctionnement de l’Application et/ou de l’Interface Professionnelle – WOOZOO étant
            tenue à une simple obligation de moyen.
        </li>
    </ul>
    <h2>Preuve</h2>
    <ul>
        <li>Les registres informatisés conservés dans les systèmes de WOOZOO, seront considérés
            comme preuves de l’utilisation de l’Application, de l’Interface Professionnelle et des
            Services.
        </li>
        <li>Il est convenu qu'en cas de divergence entre les registres informatisés de WOOZOO et les
            documents au format papier ou électronique dont dispose le Membre, les registres
            informatisés de WOOZOO feront foi.
        </li>
    </ul>
    <h2>Propriété intellectuelle</h2>
    <p>
        WOOZOO est propriétaire de tous les droits de propriété intellectuelle portant tant sur la structure que sur
        le contenu de l’Application et de l’Interface Professionnelle, qu’il s’agisse de leur code source ou de leur
        code objet, et ce dans le monde entier.
    </p>
    <h2>Modification des Conditions d’Utilisation</h2>
    <ul>
        <li>Les Conditions d’Utilisation sont susceptibles d’être modifiées par WOOZOO.</li>
        <li>Les Utilisateurs ne souhaitant pas que les relations contractuelles avec WOOZOO soient régies par
            la nouvelle version des Conditions d’Utilisation ne pourront plus accéder à l’Application, à
            l’Interface Professionnelle, ni bénéficier des Services. Les Utilisateurs ne souhaitant pas que les
            relations contractuelles soient régies par la nouvelle version des Conditions d’Utilisation sont tenus
            de le notifier à WOOZOO par lettre recommandée avec avis de réception.
        </li>
    </ul>
</section>
<app-footer></app-footer>