section{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding: 90px 0 15px 0;
    overflow: hidden;
    z-index: 10;
    box-shadow: inset 0px -6px 9px rgba(0,0,0,.2);
    @media screen and (max-width : 800px){
        padding: 75px 0 50px;
    }
    &:before {
        content: '';
        width: 58%;
        position: absolute;
        z-index: -1;
        background-color: var(--blanc-opac);
        border-radius: 20px 0rem 0rem 0px;
        transform: skew(-20deg, 0) translateX(0rem);
        bottom: -1px;
        right: -5%;
        top: 45%;
        box-shadow: 0px 3px 10px 8px rgba(0,0,0,.2);
        @media screen and (max-width : 800px){
            width: 100%;
            transform: none;
            right: 0;
            top: 50%;
            border-radius: 25px 0rem 0rem 0px;
        }
    }
    > div:not(.dot_nav){
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        transition: .7s;
        @media screen and (max-width : 800px){
            flex-direction: column;
        }
        &.active{
        opacity: 1;
        }
        > div:not(#container-commentaire_presentation){
            display: flex;
            flex-direction: column;
            width: 45%;
            // margin-top: 6%;
            margin-top: 7.5%;
            position: relative;
            @media screen and (max-width : 800px){
                width: 90%;
                margin-top: 0;
            }
            @media screen and (min-width : 801px) and (max-width : 860px){
                margin-top: 5.5%;
            }
        }
    }
    h2{
        color: var(--blue-primary);
        font-size: clamp(24px, 2.7vw, 40px);
        font-weight: 400;
        text-align: center;
        margin-left: 5%;
        @media screen and (max-width : 540px){
            margin-left: 0;
        }
    }
    button{
        position: relative;
        background: var(--blue-primary);
        color: white;
        width: max-content;
        font-size: 18px;
        border: none;
        margin: 25px auto 15px auto;
        padding: 7px 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;
        z-index: 1;
        @media screen and (max-width : 800px){
            font-size: 15px;
            margin-top: 13px;
        }
        @media screen and (min-width : 801px) and (max-width : 1050px){
            font-size: 16px;
            margin: 15px auto;
        }
        @media screen and (min-width : 1700px){
            font-size: 24px;
        }
        &:after{
            content: url(/assets/img/professionnel/go.svg);
            position: absolute;
            top: calc(50% - 8px);
            margin-left: -1rem;
            opacity: 0;
        }
        &:hover{
            padding-right: 30px;
            &:after{
                margin-left: 7px;
                opacity: 1;
                transition: .3s;
            }
        }
    }
}
.presentation_commercant{ /* presentation1 */
    img{
        width: 40%;
        max-width: 575px;
        @media screen and (max-width : 800px){
            width: 75%;
            max-width: 400px;
            margin-left: 40px;
        }
    }
}
.presentation_commercant2{ /* presentation2 */
    position: absolute;
    top: 90px;
    bottom: 0;
    img{
        width: 40%;
        max-width: 575px;
    }
    @media screen and (max-width : 800px){
        top: 55px;
        > div{
            margin-top: -30px !important;
        }
        img{
            width: 80%;
            max-width: 400px;
            margin-left: 20px;
        }
    }
}

.dot_nav{ /* dots naviguation slider */
    position: absolute;
    bottom: 10px;
    right: 23.5%;
    display: flex;
    flex-direction: row;
    width: max-content;
    @media screen and (max-width : 800px){
        top: 52%;
        left: 7px;
    }
    @media screen and (min-width : 801px) and (max-width : 1050px){
        bottom: 2px;
    }
    div{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid var(--blue-primary);
        margin: 0 5px;
        cursor: pointer;
        &.active{
            background: var(--blue-primary);
        }
    }
}

#slider-commentaire_presentation{ /* commentaire clients */
    width: 40%;
    @media screen and (max-width : 800px){
        width: 100%;
    }
}
.card-commentaire_presentation{ /* card commentaire clients */
    position: relative;
    width: 130px !important;
    background: #fff;
    padding: 20px 30px;
    padding: 15px 10px 10px 10px;
    font-size: 8px;
    text-align: center;
    border-radius: 7px;
    @media screen and (max-width : 500px){
        width: 80px !important;
        padding: 7px 7px 7px 7px;
        font-size: 5px;
    }
    @media screen and (min-width: 501px) and (max-width : 800px){
        width: 120px !important;
        padding: 7px 7px 7px 7px;
        font-size: 6px;
    }
    @media screen and (min-width: 801px) and (max-width : 1250px){
        width: 250px !important;
        padding: 20px 10px 10px 10px;
        font-size: 12px;
    }
    img{
        &:first-of-type{
            position: absolute;
            width: 13px !important;
            top: 3px;
            left: 3px;
            @media screen and (max-width : 500px){
                width: 5px !important;
            }
            @media screen and (min-width: 501px) and (max-width : 800px){
                width: 8px !important;
                top: 2px;
            }
            @media screen and (min-width: 801px) and (max-width : 1250px){
                width: 18px;
            }
        }
        &:last-of-type{
            position: absolute;
            bottom: -10px;
            right: -10px;
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            z-index: 1;
            @media screen and (max-width : 500px){
                bottom: -7px;
                width: 20px;
                height: 20px;
            }
            @media screen and (min-width: 501px) and (max-width : 800px){
                bottom: -7px;
                width: 25px;
                height: 25px;
            }
            @media screen and (min-width: 801px) and (max-width : 1250px){
                width: 50px;
                height: 50px;
            }
        }
    }
    p{
        &:first-of-type{
            color: #7e8da9;
            font-weight: 600;
            line-height: 1.2;
            @media screen and (min-width: 801px) and (max-width : 1250px){
                font-size: 14px;
            }
        }
        &:last-of-type{
            color: var(--blue-primary);
            margin-top: 15px;
            padding-right: 10px;
            position: relative;
            z-index: 1;
            @media screen and (max-width : 800px){
                margin-top: 5px;
                padding-right: 7px;
            }
            @media screen and (min-width: 801px) and (max-width : 1250px){
                font-size: 15px;
            }
        }
    }
}