<section>
    <div [class.active]="dotNav == 'presentation1'" class="presentation_commercant">
        <img src="./assets/img/professionnel/presentation/mockup-scoot.png" alt="scooter livraison">
        <div>
            <h2>Le service de livraison instantané pour tous les commerces & entreprises</h2>
        </div>
    </div>

    <div [class.active]="dotNav == 'presentation2'" class="presentation_commercant2">
        <!-- <ngx-slick-carousel id="slider-commentaire_presentation" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let commentaire of commentaires">
                <div class="card-commentaire_presentation">
                    <img src="./assets/img/commentaire/double-quote_bleu.png" alt="double quote">
                    <img src="./assets/img/commentaire/{{ commentaire.img }}" alt="photo client">
                    <p>{{ commentaire.texte }}</p>
                    <p>{{ commentaire.nom }} | {{commentaire.enseigne}}</p>
                </div>
            </div>
        </ngx-slick-carousel> -->
        <img src="./assets/img/professionnel/presentation/appMockup.png" alt="sac livraison">
        <div>
            <h2>Connectez-vous à la meilleure flotte de livreurs de votre ville</h2>
            <button pageScroll [pageScrollOffset]="120" [pageScrollDuration]="500" href="#devis">Estimation en ligne</button>
        </div>
    </div>

    <div class="dot_nav">
        <div (click)="dotNav = 'presentation1'" [class.active]="dotNav == 'presentation1'"></div>
        <div (click)="dotNav = 'presentation2'" [class.active]="dotNav == 'presentation2'"></div>
    </div>
    
</section>