<header [class.active]="scrolled">
    <a routerLink=""><img src="./assets/img/header/logo-woozoo.png" alt="logo woozoo"></a>
    <nav>
        <button id="menu-hamburger"><i class="fas fa-bars"></i><i class="fas fa-times cache"></i></button>
        <div class="header-dropdown">
            <a routerLink="">Accueil</a>
            <div id="solution_hover">
                <span>nos solutions</span>
                <div class="block-hover"></div>
                <div id="dropdown_nos-solutions"> <!-- dropdown nos solutions -->
                    <div class="fleche-dropdown"></div>
                    <a routerLink="professionnel" (click)="contenuVisibleOffre('demande')"><img src="./assets/img/professionnel/offre/mobile_course-demande3.png" alt="">Course à la demande</a>
                    <a routerLink="professionnel" (click)="contenuVisibleOffre('securite')"><img src="./assets/img/professionnel/offre/sac-scelle2.png" alt="">Course haute sécurité</a>
                    <a routerLink="professionnel" (click)="contenuVisibleOffre('disposition')"><img src="./assets/img/professionnel/offre/coursier_bleu.png" alt="">Mise à disposition</a>
                    <a routerLink="professionnel" (click)="contenuVisibleOffre('optimisation')"><img src="./assets/img/professionnel/offre/mockup_tournee.png" alt="">Optimisation de tournées</a>
                    <!--<a pageScroll [pageScrollOffset]="64" [pageScrollDuration]="500" href="#offre_details"><img src="./assets/img/professionnel/offre/mockup_tournee.png" alt="">Optimisation de tournées</a>-->
                </div>
            </div>
            <div id="secteurs_hover">
                <span>nos secteurs d'activité</span>
                <div class="block-hover"></div>
                <div id="dropdown_nos-secteurs"> <!-- dropdown nos solutions -->
                    <div class="fleche-dropdown"></div>
                    <a routerLink="../secteur" (click)="changeSecteur('commerce')"><img src="./assets/img/header/shop.svg" alt="commerce">Commerce</a>
                    <a routerLink="../secteur" (click)="changeSecteur('luxe')"><img src="./assets/img/header/mode.svg" alt="luxe">Retail & luxe</a>
                    <a routerLink="../secteur" (click)="changeSecteur('e-commerce')"><img src="./assets/img/header/online.svg" alt="e-commerce">E-commerce</a>
                    <a routerLink="../secteur" (click)="changeSecteur('restaurant')"><img src="./assets/img/header/restaurant.svg" alt="restaurant">Restaurant</a>
                </div>
            </div>
            <button>Contactez un commercial</button>
            <button (click)="openPopup()">Lancez une livraison</button>
        </div>
    </nav>
</header>