<section id="commentaires">
        <h3>Ce qu'ils disent de nous</h3>
        <ngx-slick-carousel id="slider-commentaires" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let commentaire of commentaires">
                <div class="card-commentaire">
                    <img src="./assets/img/commentaire/double-quote_bleu.png" alt="double quote">
                    <img src="{{ commentaire.img }}" alt="photo client">
                    <p>{{ commentaire.texte }}</p>
                    <p>{{ commentaire.nom }} | {{commentaire.enseigne}}</p>
                </div>
            </div>
        </ngx-slick-carousel>
</section>