<div>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
    <div mat-dialog-content>
        <h4>appelez-nous</h4>
        <p>
            <fa-icon [icon]="phoneIcon"></fa-icon>
            <span>04 83 43 64 26</span>
        </p>
        <h4>ou Ecrivez-nous</h4>
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
            <div>
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" type="text">
                    <mat-error *ngIf="formSend && nom.hasError('required')">
                        Nom obligatoire
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Raison sociale</mat-label>
                    <input matInput formControlName="raisonSociale" type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Téléphone</mat-label>
                    <input matInput formControlName="phone" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="text">
                    <mat-error *ngIf="formSend && email.hasError('email') && !email.hasError('required')">
                        Merci de renseignez une adresse mail valide
                    </mat-error>
                    <mat-error *ngIf="formSend && email.hasError('required')">
                        Email obligatoire
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="message">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message" placeholder="Votre message ..."></textarea>
                    <mat-error *ngIf="formSend && message.hasError('required')">
                        Message obligatoire
                    </mat-error>
                  </mat-form-field>
            </div>
            <button type="submit">Envoyer<fa-icon [icon]="paperPlaneIcon"></fa-icon></button>
        </form>
    </div>
</div>