div{
    .mat-icon-button{
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(255,255,255,.9);
        background: none;
        &:hover{
            color: #fff;
        }
    }
    .mat-dialog-content{
        overflow: unset !important;
        @media screen and (min-width : 700px){
            margin: 0 !important;
            padding: 10px 20px !important;
        }
        p, a{
            color: #fff;
            text-align: center;
            line-height: 1.2;
        }
        p{
            font-size: 26px;
            @media screen and (max-width : 700px){
                font-size: 20px;
                margin-top: 10px;
            }
        }
        a{
            display: block;
            font-size: 36px;
            margin-top: 13px;
            @media screen and (max-width : 700px){
                font-size: 25px;
            }
            @media screen and (min-width : 900px){
                text-decoration: none;
            }
            fa-icon{
                color: #fff;
                font-size: 44px;
                vertical-align: text-bottom;
                margin-right: 10px;
                @media screen and (max-width : 700px){
                    font-size: 30px;
                }
            }
        }
    }
    .mat-dialog-actions{
        button{
            color: var(--blue-primary);
        }
    }
}