div{
    .mat-icon-button{
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(255,255,255,.9);
        background: none;
        &:hover{
            color: #fff;
        }
    }
    .mat-dialog-content{
        margin: 0 !important;
        padding: 10px 20px !important;
        overflow: unset !important;
        p{
            color: #fff;
            text-align: center;
            line-height: 1.2;
            fa-icon{
                color: #fff;
                font-size: 44px;
                vertical-align: text-bottom;
                margin-right: 10px;
            }
            &:first-of-type{
                font-size: 26px;
            }
            &:last-of-type{
                font-size: 36px;
                margin-top: 13px;
            }
        }
    }
    .mat-dialog-actions{
        button{
            color: var(--blue-primary);
        }
    }
}