div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
    @media screen and (max-width : 700px){
        margin-top: 10px;
    }
}
app-besoins{
    width: 39%;
    @media screen and (max-width : 700px){
        width: 84%;
        margin: 20px auto;
    }
}
app-inscription-coursier{
    width: 45%;
    @media screen and (max-width : 700px){
        width: 84%;
        margin: 20px auto;
    }
}