<app-header></app-header>
<section>
    <h1>Mentions Légales</h1>
    <p>
        Ce site est la propriété de WOOZOO, société par actions simplifiée au capital de 5.000,00 €,
        enregistrée au Registre du Commerce et des Sociétés de Marseille sous le numéro 887 622
        934, ayant son siège social au 6, boulevard Albertville, 13014, Marseille. Notre numéro
        d’identification individuel TVA est FR79887622934.
    </p>
    <p>Notre directeur de publication est Hafid Fedaouche</p>
    <p>Nous pouvons être joints par téléphone au numéro 06.12.52.09.77 ou par mail à l’adresse contact@woozoo.io.</p>
    <p>
        Notre hébergeur est la société Contabo, dont le siège social est situé à , Contabo GmbH · Aschauer Straße 32a · D-81549 München<br>
        Tel : 089 / 212 683 72<br>Fax : 089 / 216 658 62
    </p>
    
    <h2>Propriété intellectuelle</h2>
    <p>
        Tout le contenu du présent site www.woozoo.fr, incluant, de façon non limitative, les graphismes, images, textes, vidéos, 
        animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l’exception des 
        marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
    </p>
    <p>
        Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents 
        éléments est strictement interdite sans l’accord exprès par écrit de la société Woozoo. Cette représentation ou reproduction, par
        quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété 
        intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale
        du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.
    </p>

    <h2>Litiges</h2>
    <p>
        Les présentes conditions du site www.woozoo.fr sont régies par les lois françaises et toute contestation ou litiges qui pourraient
        naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège
        social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.
    </p>
</section>
<app-footer></app-footer>