section{
    padding: 65px 30px 40px;
    h1, h2{
        color: var(--blue-primary);
        margin: 50px auto 20px;
    }
    p{
        color: #545c6c;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}