<footer>
    <div>
        <!-- <video autoplay muted loop>
          <source src="assets/video/woozoo-loop.mp4" type="video/mp4">
        </video> -->
        <div id="container-video"></div>
        <div class="deux">
            <div class="trois">
                <div class="footer_solutions">
                    <p>nos solutions</p>
                    <a routerLink="../professionnel" (click)="changeOffre('demande')">Course à la demande</a>
                    <a routerLink="../professionnel" (click)="changeOffre('securite')">Course haute sécurité</a>
                    <a routerLink="../professionnel" (click)="changeOffre('disposition')">Mise à disposition</a>
                    <a routerLink="../professionnel" (click)="changeOffre('optimisation')">Optimisation des tournées</a>
                </div>
                <div class="footer_lien">
                    <p>+ d'info</p>
                    <a href="">Conditions générales</a>
                    <a href="">Politique de Confidentialité</a>
                    <a href="">Mentions légales</a>
                    <a href="">contact</a>
                </div>
            </div>
            <div class="telecharger">
                <p>Suivez nous</p>
                <div>
                    <a href=""><img src="./assets/img/footer/facebook.svg" alt="logo facebook"></a>
                    <a href=""><img src="./assets/img/footer/instagram.svg" alt="logo instagram"></a>
                    <a href=""><img src="./assets/img/footer/linkedin.svg" alt="logo linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copright">
        <p>&copy; 2021 | WOOZOO</p>
    </div>
</footer>