<header [class.active]="scrolled">
    <a routerLink=""><img src="./assets/img/header/logo-woozoo.png" alt="logo woozoo"></a>
    <nav>
        <button id="menu-hamburger"><i class="fas fa-bars"></i><i class="fas fa-times cache"></i></button>
        <div class="header-dropdown">
            <a routerLink="">Accueil</a>
            <a (click)="scroll('avantages',100)">Nos Avantages</a>
            <button (click)="openPopupFormulaireContact()">Contactez nous</button>
        </div>
    </nav>
</header>