<section id="benefices">
    <h2>Vos bénéfices</h2>
    <div>
        <a routerLink="../secteur" (click)="changeSecteur('luxe')">
            <div class="shape"></div>
            <h3>Boutique<br>Retail & Luxe</h3>
            <img [defaultImage]="defaultImageLuxe" [lazyLoad]="imageLuxe" alt="livraison secteur luxe">
            <p>Un service haut de gamme et sécurisé</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="information livraison secteur luxe">
                <p>en savoir plus</p>
            </div>
        </a>

        <a routerLink="../secteur" (click)="changeSecteur('restaurant')">
            <div class="shape"></div>
            <h3>Restaurants</h3>
            <img [defaultImage]="defautImageRestaurant" [lazyLoad]="imageRestaurant" alt="livraison restaurant">
            <p>Liberez vous du turnover des coursiers</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="information livraison restaurant">
                <p>en savoir plus</p>
            </div>
        </a>

        <a routerLink="../secteur" (click)="changeSecteur('liberale')">
            <div class="shape"></div>
            <h3>Profession<br>libérale</h3>
            <img [defaultImage]="defautImageLiberale" [lazyLoad]="imageLiberale" alt="livraison commerce">
            <p>Livrer vos marchandises instantanément</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="information livraison commerce">
                <p>en savoir plus</p>
            </div>
        </a>

        <a routerLink="../secteur" (click)="changeSecteur('inter-magasin')">
            <div class="shape"></div>
            <h3>Inter-magasin</h3>
            <img [defaultImage]="defautImageInter" [lazyLoad]="imageInter" alt="livraison inter-magasin">
            <p>Rapprochez vos produits de vos clients</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="information livraison inter-magasin">
                <p>en savoir plus</p>
            </div>
        </a>
    </div>
</section>