<section>
    <h2>Vos bénéfices</h2>
    <div>
        <a routerLink="../secteur" (click)="changeSecteur('luxe')">
            <div class="shape"></div>
            <h3>Boutique<br>Retail & Luxe</h3>
            <img src="./assets/img/professionnel/secteurs/luxe.png" alt="luxe">
            <p>Un service haut de gamme et sécurisé</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="icone info">
                <p>en savoir plus</p>
            </div>
        </a>

        <a routerLink="../secteur" (click)="changeSecteur('e-commerce')">
            <div class="shape"></div>
            <h3>E-Commerce</h3>
            <img src="./assets/img/professionnel/secteurs/e-commerce.png" alt="e-commerce">
            <p>Une solution 100% digitalisée</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="icone info">
                <p>en savoir plus</p>
            </div>
        </a>

        <a routerLink="../secteur" (click)="changeSecteur('commerce')">
            <div class="shape"></div>
            <h3>Commerce<br>Entreprise</h3>
            <img src="./assets/img/professionnel/secteurs/store.png" alt="commerce">
            <p>Livrer vos marchandises instantanément</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="icone info">
                <p>en savoir plus</p>
            </div>
        </a>

        <a routerLink="../secteur" (click)="changeSecteur('restaurant')">
            <div class="shape"></div>
            <h3>Restaurants</h3>
            <img src="./assets/img/professionnel/secteurs/sushi.png" alt="restaurant">
            <p>Liberez vous du turnover des coursiers</p>
            <div class="card-secteurs_info">
                <img src="assets/img/professionnel/offre/info.png" alt="icone info">
                <p>en savoir plus</p>
            </div>
        </a>
    </div>
</section>