<section>
    <ngx-slick-carousel #slickModal="slick-carousel" id="header_secteurs_details" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let secteur of secteurs" class="slide">
            <p [class.active]="secteurVisible == secteur.value" (click)="changeSecteur(secteur.value)">{{secteur.viewValue}}</p>
        </div>
    </ngx-slick-carousel>

    <div *ngIf="secteurVisible == 'restaurant'">
        <div class="restaurant">
            <h3>Externaliser votre logistique, déchargez-vous de sa gestion</h3>
            <ul>
                <li>
                    <strong>Livraison à la demande</strong><br>Commander un coursier à la demande pour chacune de vos livraisons, et suivez les en temps réel grâce à notre application.<br>
                    <b>Tarification à la course.</b>
                </li>
                <li>
                    <strong>Mise à disposition de coursiers</strong><br>Ce service s’adapte à vos besoins et met à votre disposition un ou plusieurs livreurs, <span>entièrement dédié à votre activité</span>.
                    Mieux qu’un simple service de livraison, un coursier formé à vos méthodes est mis à votre disposition et travaille <span>selon vos besoins</span>.<br>
                    <b>Tarification à la demi-heure.</b>
                </li>
            </ul>
 
            <p>Notre service est accessible de <span id="restaurant">7h00 à minuit, 7j/7</span>.</p>
        </div>
        <img [defaultImage]="defaultImageRestaurant" [lazyLoad]="imageRestaurant" alt="restaurant">
    </div>

    <div *ngIf="secteurVisible == 'luxe'">
        <div>
            <h3>Ne passer plus à côtés des besoins de vos clients</h3>
            <ul>
                <li>
                    <strong>Renforcer votre image de marque</strong> avec une livraison de qualité, fidèle à vos valeurs et à l'image de votre entreprise.
                </li>
                <li>
                    <strong>Proposer une livraison haut de gamme</strong>, sécurisée et sur-mesure à l'image de votre marque. 
                </li>
            </ul>
            <p>
                Grâce à notre service de coursiers de proximité disponible 7j/7, <span>offrez à l'ensemble de vos consommateurs <u id="luxe">un mode de livraison à la demande</u></span>,
                extrêmement rapide et équitable.
            </p>
        </div>
        <img [defaultImage]="defaultImageLuxe" [lazyLoad]="imageLuxe" alt="luxe">
    </div>
    
    <div *ngIf="secteurVisible == 'liberale'">
        <div>
            <h3>Un pli très urgent à livrer?</h3>
            <p>Connectez-vous à la meilleur flotte de livreurs de votre ville.</p>
            <ul>
                <li>
                    <strong>Vous êtes avocat ou notaire</strong>, grâce à notre livraison express à la demande, votre pli sera chez son destinataire
                    en moins de deux heures.
                </li>
                <li>
                    <strong>Vous êtes prothésiste dentaire</strong> et vous souhaitez livrer plusieurs praticien dentaire en même temps? Grâce à notre plateforme vous pouvez <span>créer votre tournée
                    de livraison en quelque clics</span>.
                </li>
                <li>
                    <strong>Vous êtes tailleur-couturier</strong> et vous souhaitez livrer vos clients à interval régulier? Notre plateforme vous offre la possibilité de <span>créer très
                    facilement des <u id="liberale">tournées récurrentes.</u></span>
                </li>
            </ul>
        </div>
        <img [defaultImage]="defaultImageLiberale" [lazyLoad]="imageLiberale" alt="liberale">
    </div>

    <div *ngIf="secteurVisible == 'inter-magasin'">
        <div>
            <h3>Rapprochez vos produits de vos clients</h3>
            <p>Simplifiez le transfert de marchandises entre vos magasins, grâce à notre service de livraison.</p>
            <h4>Départ entrepot urbain</h4>
            <p>
                Fini les ruptures de stocks, choisissez la bonne stratégie pour <span id="inter-magasin">réapprovisionnez vos points de vente</span> :
            </p>
            <p></p>
            <ul>
                <li>
                    <strong>Optez pour une livraison express à la demande</strong>, pour transferez vos marchandise entre points de vente.
                </li>
                <li>
                    <strong>Programmez vos tournées</strong> à l'avance sur notre plateforme spécialement dédié, en quelques clics.
                </li>
            </ul>
        </div>
        <img [defaultImage]="defaultImageInterMagasin" [lazyLoad]="imageInterMagasin" alt="inter-magasin">
    </div>
</section>