<section>
    <ngx-slick-carousel #slickModal="slick-carousel" id="header_secteurs_details" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let secteur of secteurs" class="slide">
            <p [class.active]="secteurVisible == secteur.value" (click)="changeSecteur(secteur.value)">{{secteur.viewValue}}</p>
        </div>
    </ngx-slick-carousel>

    <div *ngIf="secteurVisible == 'restaurant'">
        <div class="restaurant">
            <h3>Externaliser votre logistique, déchargez-vous de sa gestion</h3>
            <p>Différents services afin de s'adapter au mieux à vos besoins</p>
            <ul>
                <li>
                    <span>Livraison à la demande</span><br>Commander un coursier à la demande pour chacune de vos livraisons, et suivez les en temps réel grâce à notre application.<br>
                    <b>Tarification à la course.</b>
                </li>
                <li>
                    <span>Mise à disposition de coursiers</span><br>Ce service s’adapte à vos besoins et met à votre disposition un ou plusieurs livreurs, <span>entièrement dédié à votre activité</span>.
                    Mieux qu’un simple service de livraison, un coursier formé à vos méthodes est mis à votre disposition et travaille <span>selon vos besoins</span>.<br>
                    <b>Tarification à la demi-heure.</b>
                </li>
            </ul>
 
            <p>Notre service est accessible de <span id="restaurant">7h00 à minuit, 7j/7</span>.</p>
        </div>
        <img src="assets/img/professionnel/solutions/restaurant.png" alt="photo restaurant">
    </div>

    <div *ngIf="secteurVisible == 'luxe'">
        <div>
            <h3>Proposer une livraison haut de gamme, unique et sur-mesure</h3>
            <p>
                Ne passez plus à côté des besoins de vos clients, offrez leur une expérience inégalé avec une livraison garantie <span>haut de gamme et sécurisée, à l'image de votre marque</span>.
                Grâce à notre service de coursiers de proximité disponible 7j/7, offrez à l'ensemble de vos consommateurs un mode de livraison à la demande, extrêmement rapide et équitable.
            </p>
            <h4 id="luxe">Renforcez votre image de marque</h4>
            <p>
                Woozoo sélectionne les meilleurs coursiers pour réaliser des <span>livraisons de qualités, fidèles à vos valeurs et votre marque</span>.
                Choisissez un créneau de livraison qui vous convient et suivez votre livraison en temps réel.
            </p>
        </div>
        <img src="./assets/img/professionnel/solutions/luxe.png" alt="photo luxe">
    </div>
    
    <div *ngIf="secteurVisible == 'liberale'">
        <div>
            <h3>Connectez-vous à la meilleur flotte de livreurs de votre ville</h3>
            <p>
                <strong>Vous êtes avocat ou notaire</strong> et vous avez <span>un pli très urgent à livrer?</span> Grâce à notre livraison express à la demande, votre pli sera chez son destinataire
                en moins de deux heures.
            </p>
            <p>
                <strong>Vous êtes prothésiste dentaire</strong> et vous souhaitez livrer plusieurs cabinets de dentiste en même temps? Grâce à notre plateforme vous pouvez <span>créer votre tournée
                de livraison en quelque clics</span>.
            </p>
            <p>
                <strong>Vous êtes tailleur-couturier</strong> et vous souhaitez livrer vos clients à interval régulier? Notre plateforme vous offre la possibilité de <span>créer très
                    facilement des <u id="liberale">tournées récurrentes.</u></span>
            </p>
        </div>
        <img src="./assets/img/professionnel/solutions/liberale.png" alt="photo profession liberale">
    </div>

    <div *ngIf="secteurVisible == 'inter-magasin'">
        <div>
            <h3>Rapprochez vos produits de vos clients</h3>
            <p>Simplifiez le transfert de marchandises entre vos magasins, grâce à notre service de livraison.</p>
            <h4>Départ entrepot urbain</h4>
            <p>
                Une solution de livraison innovante pour les professionnels de la logistique.
                Fini les ruptures de stocks, choisissez la bonne stratégie pour <u id="inter-magasin">réapprovisionnez vos points de vente</u> :
            </p>
            <p></p>
            <ul>
                <li>Optez pour une <span>livraison express à la demande</span> pour transferez vos marchandise entre points de vente</li>
                <li><span id="programmer">programmez vos tournées</span> à l'avance sur notre plateforme spécialement dédié, en quelques clics.</li>
            </ul>
        </div>
        <img src="./assets/img/professionnel/solutions/inter-magasin.png" class="inter-magasin_photo" alt="ordinateur portable">
    </div>
</section>