#header_secteurs_details{ /* header secteurs */
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 24px 20px 4px;
    background: rgba(255,255,255,.97);
    box-shadow: 0 9px 16px rgba(16,82,133,.1);
    transform-origin: top;
    transition: .5s;
    z-index: 10;
    @media screen and (max-width : 799px){
        top: 50px;
    }
    p{
        font-size: 16px;
        color: #7e8da9;
        position: relative;
        cursor: pointer;
        transition: .4s;
        &:hover{
            color: var(--blue-primary);
        }
        &.active{
            color: var(--blue-primary);
            font-weight: 600;
            &:after{
                content: '';
                position: absolute;
                display: block;
                height: 10px;
                width: 10px;
                bottom: -16px;
                left: calc(50% - 5px);
                background: #0eb3b7;
                border-radius: 50%;
            }
        }
    }
}

section{
    // overflow: hidden;
    padding: 100px 0 70px 0;
    > div:not(#header_secteurs_details){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px 15px 0 15px;
        @media screen and (max-width : 799px){
            padding-top: 40px !important;
        }
        @media screen and (max-width : 900px){
            flex-direction: column-reverse;
            padding-top: 60px;
        }
        > img{
            width: 30%;
            min-width: 250px;
            &.inter-magasin_photo{
                width: 43%;
            }
        }
        > div{
            width: 50%;
            @media screen and (max-width : 450px){
                width: 100% !important;
            }
            @media screen and (max-width : 900px){
                width: 90%;
                &.restaurant{
                    margin-top: -20px;
                }
            }
            > span{
                color: #7e8da9;
                font-size: 16px;
            }
        }
    }
    h3{
        font-size: 2.2rem;
        font-weight: 500;
        color: var(--blue-secondary);
        margin-bottom: 30px;
        @media screen and (max-width : 600px){
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    h4{
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 15px;
        color: var(--blue-secondary);
        width: fit-content;
        @media screen and (max-width : 600px){
            font-size: 22px;
        }
    }
    p:not(#header_secteurs_details p), li{
        font-size: 18px;
        color: #7e8da9;
        line-height: 1.2;
        margin-bottom: 15px;
        @media screen and (max-width : 600px){
            font-size: 16px;
        }
        span{
            color: var(--blue-secondary);
            font-weight: 500;
        }
        b{
            font-size: 16px;
            font-weight: 400;
            @media screen and (max-width : 600px){
                font-size: 13px;
            }
        }
        strong{
            font-weight: 600;
            color: #0eb3b7;
        }
    }
    li{
        position: relative;
        margin-left: 20px;
        &:before{
            content: url(/assets/img/professionnel/solutions/check.svg);
            display: block;
            position: absolute;
            top: 1px;
            left: -18px;
            width: 15px;
        }
        span:first-of-type{
            font-weight: 600;
        }
    }
    u{
        text-decoration: none;
    }
}
