section{
    margin-top: -35px;
    h2{
        position: relative;
        font-size: 34px;
        text-align: start;
        color: var(--blue-primary);
        width: max-content;
        margin-left: 7%;
        margin-bottom: 20px;
        &:after{
            position: absolute;
            content: '';
            left: 50%;
            bottom: -3px;
            width: 100%;
            height: 15px;
            transform: skew(-12deg) translateX(-50%);
            background: #9be8ff;
            z-index: -1;
        }
    }
    h4{
        color: var(--blue-secondary);
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        transition: 1s;
    }
    > div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px 0 50px;
        > img{
            width: 33%;
        }
        ul{
            width: 60%;
            width: 18%;
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 25px 0;
                cursor: pointer;
                transition: 1s;
                img{
                    width: 25px;
                    margin-right: 10px;
                    transition: 1s;
                }
                &.active{
                    img{
                        width: 40px;
                    }
                    h4{
                        color: var(--blue-primary);
                        font-size: 27px;
                    }
                }
            }
        }
    }
}

#detail_csm{
    position: relative;
    width: 30%;
    div{
        position: relative;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        animation: 1s opacity linear;
        ol{
            margin-top: 10px;
            li{
                list-style: disc;
                margin: 5px 0 0px 30px;
            }
        }
    }
    &:before{
        position: absolute;
        content: '';
        background-image: url(/assets/img/coursier/right.png);
        background-size: 75px 75px;
        top: calc(50% - 40px);
        left: -100px;
        width: 75px;
        height: 75px;
        transform: rotateX(180deg) rotateZ(-15deg);
    }
}
@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


@media screen and (max-width : 700px){
    section{
        h2{
            font-size: 26px;
            margin: 0 auto 15px auto;
            &:after{
                height: 12px;
            }
        }
        > div{
            padding: 0 10px !important;
            > img{
                width: 100% !important;
            }
            li{
                margin: 10px !important;
                h4{
                    font-size: 15px;
                }
                img{
                    width: 20px;
                }
                &.active{
                    h4{
                        font-size: 20px;
                    }
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }

    #detail_csm{
        width: 90% !important;
        &:before{
            background-size: 40px 40px;
            top: -50px;
            left: 30px;
            width: 40px;
            height: 40px;
            transform: rotateX(0deg) rotateZ(90deg);
        }
        div{
            font-size: 15px;
        }
    }
}

@media screen and (max-width : 1050px){
    section{
        margin-top: 25px;
        > div{
            flex-wrap: wrap;
            padding: 0 20px;
            ul{
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                li{
                    margin: 25px 10px;
                }
            }
            > img {
                width: 50%;
            }
        }
        #detail_csm{
            width: 40%;
        }
    }
}

@media screen and (min-width : 1350px){
    section > div{
        padding: 0 20px 0 80px;
        > img{
            width: 30%;
        }
    }
}

@media screen and (min-width : 1601px){
    section{
        li{
            h4{
                font-size: 22px;
            }
            &.active{
                h4{
                    font-size: 30px;
                }
            }
        }
        #detail_csm div{
            font-size: 22px;
        }
    }
}