<section>
    <ngx-slick-carousel #slickModal="slick-carousel" id="slider-valeurs" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let valeur of valeurs" class="avantage">
            <div class="badge_valeurs">
                <img src="./assets/img/professionnel/valeurs/badge_bleu.png" alt="icone securise">
                <div>
                    <img src="./assets/img/professionnel/valeurs/{{valeur.img}}.png" alt="">
                    <h4>{{valeur.titre}}</h4>
                </div>
            </div>
            <p>{{valeur.texte}}</p>
        </div>
    </ngx-slick-carousel>
</section>