section{
    background: var(--blanc-opac);
    overflow: hidden;
    padding-top: 30px;
    h2{
        position: relative;
        width: max-content;
        color: var(--blue-primary);
        text-align: start;
        margin-left: 10%;
        margin-bottom: 60px;
        margin: auto;
        &:before{
            position: absolute;
            content: '';
            width: 500px;
            height: 1px;
            bottom: calc(50% - 1px);
            left: -560px;
            background: var(--blue-primary);
            @media screen and (max-width : 450px){
                left: -515px;
            }
        }
        &:after{
            position: absolute;
            content: '';
            width: 500px;
            height: 1px;
            bottom: calc(50% - 1px);
            right: -550px;
            background: var(--blue-secondary);
            @media screen and (max-width : 450px){
                right: -515px;
            }
        }
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0 40px 0;
        @media screen and (max-width : 550px){
            padding-top: 35px;
        }
        @media screen and (max-width : 735px){
            padding-bottom: 7px;
        }
        img{
            height: 80px;
            margin: 0 25px 20px;
            @media screen and (max-width : 550px){
                height: 50px;
            }
        }
    }
}