:root{
    --bottom-before: 0px;
    --height-li: 0px;
}
#accueil-coursier{
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding-top: 60px;
    overflow: hidden;
    z-index: 0;
}
.accueil-coursier_before{
    position: relative;
}
.accueil-coursier_before::before{
    content: '';
    position: absolute;
    width: 52%;
    background: url(/assets/img/noir-bleu_min.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    border-radius: 0px 35px 35px 0px;
    transform: skew(-18deg, 0) translateX(-23%);
    bottom: var(--bottom-before); /* DEFINI DANS responsive.js*/
    left: 0;
    top: 0;
    z-index: -1;
}
#accueil-coursier::after{
    content: '';
    position: absolute;
    width: 55%;
    background: url(/assets/img/map.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    border-radius: 30px 0rem 0rem 25px;
    transform: skew(-18deg, 0) translateX(12%);
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
#accueil-coursier img{
    width: 52%;
}
#accueil-coursier > div{
    width: 40%;
    margin: 2% 0 0 2.5%;
}
#accueil-coursier h2{
    text-align: start;
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: initial;
}
#accueil-coursier button{
    position: relative;
    display: block;
    background: var(--blue-secondary);
    color: white;
    width: max-content;
    font-size: 20px;
    font-weight: 600;
    border: none;
    height: 40px;
    margin: 8% auto 0 auto;
    padding: 0 20px;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
#accueil-coursier button::after{
    content: url(/assets/img/professionnel/go.svg);
    position: absolute;
    top: calc(50% - 10px);
    margin-left: -1rem;
    opacity: 0;
}
#accueil-coursier button:hover::after, #form_coursier button:hover::after{
    margin-left: 7px;
    opacity: 1;
    transition: .3s;
}
#accueil-coursier button:hover, #form_coursier button:hover{
    padding-right: 30px !important;
}