<section id="mise_disposition">
    <h2>Mise à disposition</h2>
    <div>
        <img src="./assets/img/professionnel/presentation/{{imageShowSlides}}.png" alt="image application">
        <div>
            <p>
                La mise à disposition de coursiers est un service qui s’adapte à vos besoins et met à votre disposition un ou plusieurs livreurs,
                entièrement dédié à votre activité. <span>Mieux qu’un simple service de livraison, un coursier est mis à votre disposition et <span id="besoins">travaille selon vos besoins.</span></span>
            </p>
            <p>
                Ce service comporte plusieurs avantages :
            </p>
            <ul>
                <li><strong>Efficacité</strong> : Votre chauffeur livreur est <span id="forme">formé à vos méthodes.</span></li>
                <li>
                    <strong>Un moyen de transport selon vos besoins</strong> : Du deux roues au camion, vous pouvez choisir le moyen de transport qui vous convient le mieux.
                </li>
                <li>
                    <strong>Un service économique</strong> : Avec la mise à disposition de coursier, vous bénéficiez de tarifs simples et fixes. Vous ne payez que le temps d'utilisation, et vous <span id="gerer">gérez le planning de votre coursier.</span>
                </li>
            </ul>
            <p>
                Woozoo met à votre disposition des coursiers formés et expérimentés dont vous avez besoin pour s’occuper de vos livraisons.
                <span>Grâce à notre plateforme nous vous proposons un service sur mesure, ainsi qu'un <span id="astreinte">service d'astreinte</span> de livreurs.</span>
            </p>
        </div>
    </div>
</section>