section{
    position: relative;
    background: var(--blanc-opac);
    padding: 0 20px 20px;
    @media screen and (max-width : 650px){
        padding-top: 15px;
    }
    h2{
        position: relative;
        font-size: 32px;
        color: var(--blue-primary);
        width: fit-content;
        margin-left: 7%;
        margin-bottom: 20px;
        z-index: 1;
        @media screen and (max-width : 500px){
            margin: 0 auto 20px;
            font-size: 30px;
        }
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        img{
            width: 37%;
            margin: 0 25px 25px 0;
            @media screen and (max-width : 500px){
                width: 80%;
                margin-top: 15px;
            }
            @media screen and (min-width: 501px) and (max-width : 900px){
                width: 60%;
                margin-top: 15px;
            }
        }
        div{
            width: 58%;
            @media screen and (max-width : 700px){
                width: 100%;
            }
            @media screen and (min-width: 701px) and (max-width : 900px){
                width: 80%;
            }
            p{
                color: var(--blue-primary);
                color: #7e8da9;
                font-size:  1.125rem;
                margin-bottom: 13px;
                line-height: 1.2;
                span{
                    color: var(--blue-secondary);
                    font-weight: 500;
                }
            }
            ul{
                li{
                    position: relative;
                    color: #7e8da9;
                    font-size: 18px;
                    margin: 0 auto 20px 40px;
                    line-height: 1.2;
                    &:before{
                        position: absolute;
                        content: '';
                        background-image: url(/assets/img/professionnel/offre/right-arrow.png);
                        background-size: 40px 40px;
                        top: -9px;
                        left: -42px;
                        width: 40px;
                        height: 40px;
                    }
                    strong{
                        color: var(--blue-secondary);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}