<section id="mise_disposition">
    <h2>Mise à disposition</h2>
    <div>
        <img [defaultImage]="defautImage" [lazyLoad]="imageShowSlides" alt="mise à disposition de livreur">
        <div>
            <p>
                Mieux qu’un simple service de livraison, un coursier est mis à votre disposition et <span id="besoins">travaille selon vos besoins.</span>
            </p>
            <ul>
                <li><strong>Efficacité</strong> : Votre chauffeur livreur est <span id="forme">formé à vos méthodes.</span></li>
                <li>
                    <strong>Un moyen de transport selon vos besoins</strong>
                </li>
                <li>
                    <strong>Vous ne payez que le temps d'utilisation</strong>, et vous <span id="gerer">gérez le planning de votre coursier.</span>
                </li>
            </ul>
        </div>
    </div>
</section>