section{
    position: relative;
    background: rgb(0,14,34);
    background: linear-gradient(90deg, rgba(0,14,34,1) 10%, rgba(17,63,113,1) 50%, rgba(0,14,34,1) 90%);
    &:before{
        content: "";
        position: absolute;
        box-sizing: border-box;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: rgb(0,14,34);
        background: linear-gradient(90deg, rgba(0,14,34,1) 10%, rgba(17,63,113,1) 50%, rgba(0,14,34,1) 90%); 
        width: 100%;
        height: 100px;
        top: -100px;
        left: 0;
        z-index: -1;
    }
    &:after{
        content: "";
        position: absolute;
        box-sizing: border-box;
        clip-path: polygon(0 0, 0% 100%, 100% 0%);
        background: rgb(0,14,34);
        background: linear-gradient(90deg, rgba(0,14,34,1) 10%, rgba(17,63,113,1) 50%, rgba(0,14,34,1) 90%); 
        width: 100%;
        height: 100px;
        bottom: -100px;
        left: 0;
    }
    h5{
        font-size: 34px;
        color: #fff;
        width: max-content;
        margin: auto;
        @media screen and (max-width : 500px){
            font-size: 30px;
        }
    }
    > div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 50px 25px 0;
        > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 24%;
            min-width: 270px;
            margin: 0 20px 30px;
            img{
                width: 75px;
                margin-bottom: 13px;
                &.securite{
                    margin-top: 10px;
                }
            }
            p{
                color: #fff;
                text-align: center;
                font-weight: 500;
                line-height: 1.1;
            }
        }
    }
}