<section id="home-page">
    <video muted autoplay loop playsinline #videoPlayer>
        <source src="./assets/video/background_video_1920x1080-2000k.webm" type="video/webm">
        <source src="./assets/video/background_video_mp4_1920x1080-2000k" type="video/mp4">
    </video>
    <a href="https://www.woozoo.delivery">Connexion</a>
    <div>
        <img src="./assets/img/home-page/logo-woozoo.png" alt="logo woozoo">
        <h1>Service externalisé de coursiers</h1>
        <h2><span>Rapide</span><span> &#x2022; Flexible &#x2022; </span><span>Securisé</span></h2>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
            <a routerLink="professionnel" class="gooey-button">
                Entreprise
                <span class="bulles">
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                </span>
            </a>
            <a href="https://www.woozoobox.com" target="_blank" class="gooey-button">
                WoozooBox
                <span class="bulles">
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                </span>
            </a>
            <a routerLink="coursier" class="gooey-button">
                Coursier
                <span class="bulles">
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                </span>
            </a>
        </div>
    </div>
    <div class="blur"></div>
</section>