<section id="home-page">
    <video autoplay muted loop playsinline>
        <source src="assets/video/background_video.mp4" type="video/mp4">
    </video>
    <a href="https://www.woozoo.delivery">Connexion</a>
    <div>
        <img src="./assets/img/home-page/logo-woozoo.png" alt="logo woozoo">
        <h2>Service externalisé de coursiers</h2>
        <h3><span>Rapide</span><span> &#x2022; Flexible &#x2022; </span><span>Securisé</span></h3>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="highContrastGraphic" />
                        <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
                    </filter>
                </defs>
            </svg>
            <a routerLink="professionnel" class="gooey-button">
                Professionnel
                <span class="bulles">
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                </span>
            </a>
            <a href="https://www.woozoobox.com" class="gooey-button">
                WoozooBox
                <span class="bulles">
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                </span>
            </a>
            <a routerLink="coursier" class="gooey-button">
                Coursier
                <span class="bulles">
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                    <span class="bulle"></span>
                </span>
            </a>
        </div>
    </div>
    <div class="blur"></div>
</section>