<form id="form_coursier" [formGroup]="signupForm" (ngSubmit)="submit()" [ngClass]="{'popup': afficherPopup}">
    <div class="popup-formulaire_coursier">
        <p>Remplir ce formulaire d'inscription pour faire partie de l'équipe Woozoo</p>
    </div>
    <h4>Rejoins nous dès maintenant !</h4>
    <div>
        <input type="text" formControlName="nom" placeholder="Nom">
        <input type="text" formControlName="prenom" placeholder="Prenom">
    </div>
    <div>
        <input type="text" formControlName="email" placeholder="Email">
        <input type="text" formControlName="phone" placeholder="Téléphone">
    </div>
    <div>
        <input type="text" formControlName="ville" placeholder="Ville">
        <input type="text" formControlName="code_postal" placeholder="Code postal">
    </div>
    <select formControlName="vehicule">
        <option value="">Sélectionne un véhicule</option>
        <option value="velo">Vélo</option>
        <option value="scooter">Scooter</option>
        <option value="scooter-electrique">Scooter éléctrique</option>
        <option value="voiture">Voiture</option>
        <option value="utilitaire">Utilitaire</option>
    </select>
    <select formControlName="statut_pro">
        <option value="">Sélectionne un statut pro</option>
        <option value="auto-entrepreneur">Auto-entrepreneur</option>
        <option value="micro-entreprise">Micro-entreprise(SASU,EURL)</option>
        <option value="sarl">SARL, SAS, SA</option>
        <option value="autre">Autre</option>
    </select>
    <div id="capacite">
        <p>Detenez vous l'attestation de capacité de transport?</p>
        <div>
            <input type="radio" formControlName="capacite_transport" value="oui">
            <label>Oui</label>
        </div>
        <div>
            <input type="radio" formControlName="capacite_transport" value="non">
            <label>Non</label>
        </div>
    </div>
    <div class="conditions">
        <input type="checkbox" name="conditions" formControlName="conditions">
        <label for="conditions">J'ai lu et accepté les Conditions Générales d'Utilisation</label>
    </div>
    <span>En continuant, vous acceptez les <a routerLink="/conditionsGenerales">conditions générales</a>, et la <a routerLink="/confidentialite">politique de confidentialité</a> de Woozoo.</span>

    <button type="submit">S'inscrire</button>
</form>