form{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background: #076594;
    background: #e5f9ff;
    padding: 30px;
    border-radius: 20px;
    transition: .4s;
    h4{
        font-size: 30px;
        color: var(--blue-secondary);
        text-align: center;
        margin-bottom: 30px;
    }
    > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ::ng-deep mat-form-field{
            width: 45%;
            &:first-of-type{
                .mat-form-field-flex{
                    border-radius: 50px 0 0 50px;
                }
                .mat-form-field-underline{
                    left: 20px;
                    width: calc(100% - 20px) !important;
                  }
            }
            &:last-of-type{
                .mat-form-field-flex{
                    border-radius: 0 50px 50px 0;
                }
                .mat-form-field-underline {
                    width: calc(100% - 20px) !important;
                }
            }
        }
    }
    ::ng-deep{
        mat-form-field{
            .mat-form-field-flex{
                height: 40px;
                align-items: center;
                background: white;
                padding-left: 15px;
            }
            label{
                color: var(--blue-secondary) !important;
            }
            input, .mat-select-value{
                color: var(--blue-primary) !important;
            }
            .mat-form-field-infix {
                border-top: 0;
            }
            .mat-form-field-underline{
                background: transparent !important;
            }
            .mat-form-field-subscript-wrapper{
                margin-top: 4px !important;
                margin-left: 20px;
            }
        }
        > mat-form-field{
            .mat-form-field-flex{
                text-align: center;
                border-radius: 50px;
            }
            .mat-form-field-underline {
                left: 20px;
                width: calc(100% - 40px) !important;
            }
        }
        mat-checkbox{
            color: var(--blue-secondary);
            font-size: 13px;
            margin-top: 13px;
        }
        .mat-checkbox-frame{
            background: #fff;
            border-color: var(--blue-secondary)
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background{
            background: var(--blue-primary);
        }
        .mat-ripple-element{
            background-color: var(--blue-primary) !important;
        }
        .mat-checkbox-layout {
            white-space: initial;
            .mat-checkbox-label {
                line-height: 1.2;
            }
        }
        .mat-form-field-ripple{
            background: var(--blue-secondary) !important;
        }
        .mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
            background-color: #f44336 !important;
        }
    }
    #capacite{
        align-items: center;
        flex-wrap: wrap;
        margin: 15px 0;
        p{
            width: 45%;
            color: var(--blue-secondary);
            @media screen and (max-width : 450px){
                width: 100%;
                text-align: center;
            }
        }
        input{
            cursor: pointer;
        }
        label{
            color: var(--blue-secondary);
            margin-left: 7px;
        }
        ::ng-deep mat-radio-group{
            width: 45%;
            display: flex;
            justify-content: space-around;
            @media screen and (max-width : 450px){
                width: 75%;
                margin: 13px auto auto;
            }
            label{
                color: var(--blue-secondary);
            }
            .mat-radio-outer-circle{
                background: #fff;
                border-color: var(--blue-secondary);
            }
            .mat-radio-inner-circle{
                background: var(--blue-primary);
            }
            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
                border-color: var(--blue-primary) !important;
            }
        }
    }
    > mat-error{
        font-size: 12px;
    }
    span{
        color: #7e8da9;
        font-size: 12px;
        margin-top: 13px;
        line-height: 1.15;
    }
    button{
        position: relative;
        width: max-content;
        background: var(--blue-secondary);
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin: 20px auto auto auto;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: .4s;
        &:after{
            content: url(/assets/img/go.svg);
            position: absolute;
            top: calc(50% - 9px);
            margin-left: -1rem;
            opacity: 0;
        }
        &:hover{
            padding-right: 30px !important;
            &:after{
                margin-left: 7px;
                opacity: 1;
                transition: .3s;
            }
        }
    }
    &.popup{
        border: 1px solid var(--blue-secondary);
    }
}


// media queries
@media screen and (max-width : 700px){
    /* FORMULAIRE COURSIER */
    form{
        padding: 15px 25px;
        margin-top: 0;
        h4{
            font-size: 26px;
        }
        div{
            mat-form-field{
                width: 49%;
            }
        }
    }
}