section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: var(--blanc-opac);
    padding: 70px 0 50px 0;
    z-index: 1;
    transition: .4s;
    @media screen and (max-width : 800px){
        padding-top: 40px;
    }
    img:not(.info-card img, .comming-soon){
        height: 130px;
        margin-top: -45px;
        transition: .4s;
    }
    h2{
        font-size: 22px;
        font-weight: 400;
        margin: 10px 0;
    }
}
.card-offre{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 20%;
    max-width: 300px;
    background: white;
    text-align: center;
    margin: 0 5px;
    padding: 15px 15px 50px 15px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 20px 20px -5px, rgba(0, 0, 0, 0.05) 0px 10px 10px -5px;
    border-radius: 20px;
    transition: .4s;
    /* overflow: hidden; */
    cursor: pointer;
    @media screen and (max-width : 650px){
        width: 68%;
        &:not(:last-of-type){
            margin-bottom: 60px;
        }
    }
    @media screen and (min-width : 651px) and (max-width : 1000px){
        width: 40%;
    }
    @media screen and (min-width : 1000px) and (max-width : 1200px){
        width: 24%;
    }
    &:hover{
        transform: scale(1.1);
        .container_card-offre_hover{
            top: -25px;
        }
        .info-card{
            opacity: 0;
        }
        p:last-of-type{
            opacity: 1;
        }
        img:not(.info-card img, .comming-soon){
            height: 85px !important;
            margin-top: 0 !important;
        }
        .card-offre_hover{
            top: 0;
            left: 0;
            opacity: 1;
            transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
            transition: .5s !important;
        }
    }
    &:nth-of-type(odd){
        h2{
            color: var(--blue-primary);
        }
        .info-card{
            background: var(--blue-primary);
        }
        .card-offre_hover{
            p:last-of-type, button{
                background: var(--blue-primary);
            }
            li{
                color: var(--blue-primary);
            }
        }
    }
    &:nth-of-type(even){
        h2{
            color: var(--blue-secondary);     
        }
        .info-card{
            background: var(--blue-secondary);
        }
        .card-offre_hover{
            p:last-of-type, button{
                background: var(--blue-secondary);
            }
            li{
                color: var(--blue-secondary);
            }
        }
    }
    &:last-of-type{
        @media screen and (min-width : 651px) and (max-width : 999px){
            margin-top: 60px;
        }
    }
    li{
        &:before{
            content: url(/assets/img/professionnel/offre/check_vert.svg);
            margin: 5px 10px 0 0;
        }
    }
}

/* CARD OFFRE HOVER */
.container_card-offre_hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    overflow: hidden;
}
.card-offre_hover{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 83%;
    left: 52%;
    background: rgba(255,255,255,.95);
    transition: .25s;
    cursor: default;
    p:last-of-type{
        color: #fff;
        font-size: 15px;
        padding: 10px;
        line-height: 1.1;
        border-radius: 20px 20px 0 0;
        opacity: 0;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: inherit;
        padding: 10px;
        ul{
            padding-bottom: 10px;
            li{
                display: flex;
                text-align: start;
                font-size: 14px;
                margin-bottom: 7px;
            }
        }
        button{
            position: relative;
            width: max-content;
            font-size: 14px;
            color: #fff;
            padding: 7px 10px;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            transition: .4s;
            &:after{
                content: url(/assets/img/professionnel/go.svg);
                position: absolute;
                top: calc(50% - 8px);
                margin-left: -1rem;
                opacity: 0;
            }
            &:hover{
                padding-right: 30px !important;
                &:after{
                    margin-left: 7px;
                    opacity: 1;
                    transition: .3s;
                }
            }
        }
    }
    .comming-soon{
        height: 60px;
    }
}

.info-card{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 9px 11px;
    border-radius: 30px 0 0 0;
    transition: .2s;
    img{
        width: 20px;
        margin-right: 4px;
    }
}