<section id="offre">
    <div class="card-offre">
        <img src="./assets/img/professionnel/offre/mobile_course-demande.png" alt="">
        <h2>Course express à la demande</h2>
        <div class="container_card-offre_hover">
            <div class="card-offre_hover">
                <p class="info-card"><img src="assets/img/professionnel/offre/info.png" alt="icone info">
                en savoir plus</p>
                <p>Une course urgente? Réserver votre coursier en quelques clics</p>
                <div>
                    <ul>
                        <li>Un coursier disponible dans les 20 minutes</li>
                        <li>Service rapide & flexible</li>
                        <li>Une interface simple et intuitive</li>
                    </ul>
                    <img class="comming-soon" src="assets/img/professionnel/offre/comming-soon.png" alt="à venir">
                </div>
            </div>                   
        </div>
    </div>

    <div class="card-offre">
        <img src="./assets/img/professionnel/offre/livreur.png" alt="">
        <h2>Mise à disposition d'un coursier</h2>
        <div class="container_card-offre_hover">
            <div class="card-offre_hover">
                <p class="info-card"><img src="assets/img/professionnel/offre/info.png" alt="icone info">
                en savoir plus</p>
                <p>Mise à disposition d'un coursier entièrement dédié à votre activité</p>
                <div>
                    <ul>
                        <li>Garantir la régularité de vos tournées</li>
                        <li>Bénéficier des moyens humains et des véhicules nécessaires à votre activité</li>
                        <li>Une interface connectée à notre flotte de livreurs</li>
                    </ul>
                    <button pageScroll [pageScrollOffset]="85" [pageScrollDuration]="700" href="#mise_disposition">En savoir plus</button>
                </div>

            </div>                  
        </div>
    </div>

    <div class="card-offre">
        <img src="./assets/img/professionnel/offre/woozooBox.png" alt="">
        <h2>Campagne publicitaire innovante</h2>
        <div class="container_card-offre_hover">
            <div class="card-offre_hover">
                <p class="info-card"><img src="assets/img/professionnel/offre/info.png" alt="icone info">
                en savoir plus</p>
                <p>Optez pour une campagne de publicité innovante!</p>
                <div>
                    <ul>
                        <li>Une campagne publicitaire unique et innovante</li>
                        <li>1er réseau de livreurs au service de votre communication</li>
                        <li>Traçabilité des campagnes publicitaire</li>
                    </ul>
                    <button routerLink="../woozooBox">En savoir plus</button>
                </div>
            </div>                            
        </div>
    </div>
</section>