# REDIRIGER EN HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# REFRESH WORK
RewriteEngine On 
  # If an existing asset or directory is requested go to it as it is 
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR] 
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d 
  RewriteRule ^ - [L] 
 
  # If the requested resource doesn't exist, use index.html 
  RewriteRule ^ /index.html

# FICHIER COMPRESSER .gz
<IfModule mod_headers.c>
  <FilesMatch ".gz">
    Header append Content-Encoding: gzip
    Header set Vary: Accept-Encoding
  </FilesMatch>
  <FilesMatch "json.gz">
    Header set Content-Type: application/json
  </FilesMatch>
</IfModule>