<app-header></app-header>
<section>
    <h1>Politique de confidentialité</h1>
    <p>
        La présente charte s’applique aux données personnelles collectées et traitées à l’occasion de votre accès et
        de votre utilisation des Services proposés par WOOZOO par le biais de son Application et de son
        Interface Professionnelle. L’Application et l’Interface Professionnelle sont la propriété de WOOZOO,
        société par actions simplifiée au capital de 5.000,00 €, enregistrée au Registre du Commerce et des
        Sociétés de Marseille sous le numéro 887 622 934, ayant son siège social au 6, boulevard Albertville,
        13014, Marseille. Les termes débutant par une majuscule auront la définition qui leur est donnée dans nos
        Conditions Générales https://www.woozoo.fr
    </p>
    <p>Cette charte de protection des données personnelles a pour objet de vous informer sur la manière dont
        nous, WOOZOO, en qualité de responsable de traitement, collectons, traitons et utilisons vos données
        personnelles.
    </p>
    <p>
        Nous collectons et utilisons vos données personnelles aux seules fins exposées ci-après et conformément
        aux exigences du Règlement européen n°2016/679, dit « RGPD ». Nous ne collectons ni n’utilisons vos
        données personnelles qu’à des fins légitimes, nécessaires à la bonne exécution de nos Services.
    </p>
    <p>
        En accédant et en utilisant l’Application et l’Interface Professionnelle, vous consentez à la collecte, au
        stockage, au traitement et à l’utilisation de vos données par WOOZOO selon les modalités précisées dans
        cette charte de protection des données personnelles. Si vous ne souhaitez pas que nous collections vos
        données personnelles, nous vous invitons à ne pas utiliser ni accéder à nos Services.
    </p>
    <p>
        Vous pouvez à tout moment retirer votre autorisation au traitement de données dont vous faites l’objet.
        Dans ce cas, vous ne pourrez toutefois plus accéder à nos Services.
    </p>
    
    <h2>Quelles données personnelles sont collectées ?</h2>
    <p>
        En qualité de responsable du traitement, nous collectons des données personnelles concernant les
        Membres de WOOZOO, et en particulier, les Coursiers, les Expéditeurs, les Professionnels et les
        Destinataires.
    </p>
    <p>En qualité de responsable du traitement, nous collectons les données personnelles qui suivent :</p>
    <ol>
        <li>
            <p>Certaines données que vous renseignez lors de votre inscription :</p>
            <ul>
                <li>
                    Les données que vous nous déclarez, en qualité de Membre :
                    <ul>
                        <li>Noms, prénoms, état civil, sexe</li>
                        <li>Adresse</li>
                        <li>Photographie</li>
                        <li>Numéro de téléphone et adresse email</li>
                        <li>
                            Identifiant et mot de passe crypté utilisés pour vous identifier sur l’Application ou
                            l’Interface Professionnelle
                        </li>
                    </ul>
                </li>
                <li>
                    Les données que vous nous déclarez, en qualité de Coursier :
                    <ul>
                        <li>Données bancaires nécessaires à votre rémunération</li>
                        <li>
                            Données liées aux inscriptions et autorisations professionnelles (capacité de
                            transport, inscription au registre du commerce et des sociétés, etc)
                        </li>
                        <li>Données liées à votre assurance</li>
                        <li>Pièce d’identité</li>
                        <li>Photographie</li>
                        <li>Justificatif de domicile</li>
                    </ul>
                </li>
                <li>
                    Les données que vous nous déclarez, en qualité de Professionnel :
                    <ul>
                        <li>
                            Données liées aux inscriptions et autorisations professionnelles (inscription au
                            registre du commerce et des sociétés, etc)
                        </li>
                        <li>Photographie</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <p>Les données que vous nous indiquez lors des commandes et prises en charge de Courses :</p>
            <ul>
                <li>Adresse d’Enlèvement</li>
                <li>Adresse de Livraison</li>
                <li>Nom, prénom du Destinataire</li>
                <li>Nom, prénom de l'expediteur</li>
                <li>Description du Colis</li>
                <li>Données financières liées à la rémunération des Coursiers</li>
                <li>Données bancaires liées aux paiements des Expéditeurs</li>
                <li>numéro de téléphone destinataire</li>
                <li>numéro de téléphone expéditeur;</li>
            </ul>
        </li>
        <li>
            <p>Certaines données liées à la prise en charge de Courses :</p>
            <ul>
                <li>Taux d’acceptation des Courses par un Coursier</li>
                <li>Taux d’annulation de Courses par un Coursier</li>
                <li>Disponibilité d’un Coursier</li>
                <li>Satisfaction Client relativement à un Coursier</li>
            </ul>
        </li>
        <li>
            <p>
                Certaines données liées à votre utilisation de l’Application et de l’Interface Professionnelle :<br>
                la fréquence et l’intensité d’utilisation, le nombre et la durée de vos connexions.
            </p>
        </li>
        <li>
            <p>
                Des données collectées automatiquement sur l’Application et de l’Interface Professionnelle :<br>
                il s’agit des cookies, qui sont des fichiers déposés sur votre terminal informatique lors de votre accès 
                à l’Application ou à l’Interface Professionnelle. La gestion du stockage des cookies sur votre 
                terminal informatique vous appartient entièrement, par le paramétrage de votre navigateur
                internet. Vous disposez de la possibilité de supprimer ces cookies.
            </p>
        </li>
    </ol>

    <h2>Pour quelles raisons mes données personnelles sont-elles collectées ?</h2>
    <p>Nous collectons vos données personnelles aux fins de :</p>
    <ul>
        <li>Gérer et améliorer votre accès et votre utilisation de l’Application et de l’Interface Professionnelle.</li>
        <li>Gérer vos Courses et vos Colis et les paiements associés.</li>
        <li>Gérer la rémunération des Coursiers.</li>
        <li>Établir des statistiques et volumes de fréquentation de l’Application et de l’Interface Professionnelle.</li>
        <li>Effectuer des opérations de marketing.</li>
    </ul>

    <h2>Quel est le fondement légal pour la collecte et le traitement de vos données personnelles ?</h2>
    <p>Nous collectons et traitons vos données personnelles sur les fondements légaux qui suivent :</p>
    <ul>
        <li>Elles sont nécessaires pour permettre votre accès et votre utilisation de l’Application et de l’Interface Professionnelle.</li>
        <li>Elles sont nécessaires pour l’exécution de nos Services et la bonne gestion de vos Courses et de vos Colis.</li>
        <li>Elles sont nécessaires pour être en conformité avec nos obligations légales.</li>
    </ul>

    <h2>Pour quelle durée ces données personnelles sont-elles collectées ?</h2>
    <p>
        La durée de conservation active, c’est-à-dire pour les utilisations courantes mentionnées au point 2, de
        vos données diffère en fonction de la nature des données collectées :
    </p>
    <ul>
        <li>Données renseignées lors de votre inscription sur l’Application ou l’Interface Professionnelle.</li>
        <li>Données fournies pour l’exécution des Courses.</li>
        <li>Données relatives à la mesure d’audience de l’Application ou de l’Interface Professionnelle obtenue via les cookies.</li>
        <li>Données liées à la prise en charge des Courses.</li>
        <li>Cookies.</li>
    </ul>
    <p>
        A l’issue de la conservation active de vos données, ces dernières font l’objet d’un archivage intérimaire,
        où plus aucun membre des équipes opérationnelles ne peut les consulter. Pendant l’archivage intérimaire,
        seules les personnes spécialement habilitées, ayant intérêt à en prendre connaissance en raison de leur
        fonction pourront y accéder, ce qui est notamment le cas des membres de l’équipe contentieux. Voici un
        tableau récapitulatif de la durée de conservation des données en archivage intermédiaire :
    </p>
    <ul>
        <li>Données accessibles uniquement à notre service contentieux.</li>
        <li>Données conservées dans le cadre de nos obligations fiscales.</li>
    </ul>
    <p>A l’issue de la durée de conservation de l’archivage intermédiaire, l’ensemble de vos données personnelles seront définitivement supprimées.</p>

    <h2>Qui aura accès à vos données ?</h2>
    <p>Nous ne partageons pas vos données personnelles avec des tiers.</p>
    <p>
        Par exception, nous vous indiquons qu’une partie de nos Services fait l’objet d’une sous-traitance par la
        société WOOZOO, SAS basée au 6 boulevard Albertville , Marseille. Dans ce cadre, la société sous-
        traitante est susceptible d’avoir accès à certaines de vos données personnelles. Afin de vous assurer un
        niveau de garantie adéquat, nous avons répercuté dans nos relations contractuelles avec cette société les
        clauses contractuelles types préconisées pour le transfert de données à caractère personnel vers des sous-
        traitants établis dans des pays tiers par la décision 2010/87/UE de la Commission en date du 5 février     
        2010, prise en vertu de la directive 95/46/CE du Parlement Européen et du Conseil. 
    </p>
    <p>Nous nous assurons, par des audits réguliers, que la société woozoo se conforme pleinement à l’ensemble de ces obligations.</p>

    <h2>Où vos données personnelles seront-elles stockées ?</h2>
    <p>
        Vos données personnelles sont stockées dans l’Union Européenne auprès de prestataires de confiance avec
        lesquels nous avons conclu des contrats garantissant un niveau de protection adéquat.
    </p>

    <h2>Quels sont vos droits ?</h2>
    <p>
        Vous disposez de droits étendus liés à la collecte et au traitement de vos données personnelles. Nous
        sommes particulièrement attachés au respect de ces droits que vous êtes en mesure d’exercer à tout moment. 
    </p>
    <p>Vous disposez des droits suivants :</p>
    <ul>
        <li>
            <span>Droit d’accès</span> :
            vous pouvez prendre connaissance des données personnelles que nous avons collectées sur vous.
        </li>
        <li>
            <span>Droit de rectification</span> :
            si vos données sont inexactes vous pouvez nous demander de les rectifier.
        </li>
        <li>
            <span>Droit à l’oubli</span> :
            vous pouvez demander l’effacement des données qui ne sont pas nécessaires à
            votre accès à l’Application et à l’Interface Professionnelle. Si vos données ne sont plus nécessaires
            au regard des finalités évoquées plus haut, vous pouvez, là aussi, nous demander l’effacement de
            ces données.
        </li>
        <li>
            <span>Droit à la limitation du traitement</span> :
            ce droit peut être exercé lorsque vous estimez que les
            données vous concernant ne sont pas exactes ou lorsque vous en avez besoin pour la constatation,
            l’exercice ou la défense d’un droit. Si vous en faites usage, vos données seront conservées mais ne
            pourront plus être utilisées.
        </li>
        <li>
            <span>Droit à la portabilité des données</span> :
            vous pouvez récupérer l’ensemble des données vous
            concernant dans un format structuré, couramment utilisé et lisible par machine. Vous pourrez
            ensuite les conserver ou les transmettre à toute autre personne de votre choix.
        </li>
        <li>
            <span>Droit d’opposition</span> :
            vous pouvez vous opposer à certains traitements de vos données personnelles
            comme la réception de nos offres marketing. Vous pouvez l’exercer directement à partir de votre
            espace personnel.
        </li>
        <li>
            <span>Droit de déterminer le sort de vos données après votre décès</span> :
            vous pouvez nous indiquer si vous souhaitez que vos données soient conservées, effacées ou communiquées à tiers de votre choix.
        </li>
    </ul>

    <h2>Comment exercer vos droits ?</h2>
    <p>Vous pouvez exercer vos droits en nous adressant un mail à l’adresse suivante : contact@woozoo.io</p>
    <p>
        Pour ailleurs, vous avez parallèlement la possibilité d’effectuer une réclamation auprès de la CNIL, par
        mail, courrier postal, ou directement sur le site cnil.fr.
    </p>

    <h2>Vos données sont-elles sécurisées ?</h2>
    <p>Nous apportons le plus grand soin à la sécurité, à la confidentialité et à l’intégrité de vos données personnelles.</p>
    <p>A cet effet, nous avons adopté des mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au risque.</p>
    <p>En particulier, nous utilisons normes, certifications,encryptage SSL.</p>
</section>
<app-footer></app-footer>