section{
    padding: 65px 30px 40px;
    h1, h2{
        color: var(--blue-primary);
        margin: 50px auto 20px;
    }
    h2{
        font-size: 1.8rem;
    }
    p, li{
        color: #545c6c;
        font-size: 18px;
        line-height: 1.5;
    }
    > p{
        margin-bottom: 15px;
    }
    ul{
        padding-left: 25px;
        margin-bottom: 20px;
    }
    > ul{
        li{
            margin-top: 13px;

            &:before{
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                background: #0eb3b7;
                border-radius: 50%;
                margin-left: -15px;
                margin-right: 8px;
            }
            span{
                font-weight: 500;
            }
        }
    }
}

ol{
    list-style: decimal;
    padding-left: 40px;
    > li > ul{
        > li{
            margin-top: 13px;
            &:before{
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                background: #0eb3b7;
                border-radius: 50%;
                margin-left: -15px;
                margin-right: 7px;
            }
        }
        ul{
            list-style: circle;
        }
    }
}
