footer{
    position: relative;
    background: rgb(0,14,34);
    background: linear-gradient(90deg, rgba(0,14,34,1) 10%, rgba(17,63,113,1) 50%, rgba(0,14,34,1) 90%);
    &:before{
        position: absolute;
        content: '';
        background: #fff;
        width: 90%;
        height: 1px;
        left: 5%;
        top: 0;
    }
    .copright{
        margin-top: 0;
        &:before{
            display: none;
        }
    }
}