<footer>
    <div>
        <!-- <video autoplay muted loop playsinline>
          <source src="assets/video/woozoo-loop.mp4" type="video/mp4">
        </video> -->
        <div id="container-video"></div>
        <div class="solutions">
            <div>
                <div>
                    <p>Liens</p>
                    <a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="500" href="#avantages">nos avantages</a>
                    <a pageScroll [pageScrollOffset]="120" [pageScrollDuration]="500" href="#besoin_coursier">critères requis</a>
                    <a pageScroll [pageScrollOffset]="70" [pageScrollDuration]="500" href="#form_coursier">inscription</a>
                    <a pageScroll [pageScrollOffset]="80" [pageScrollDuration]="500" href="#csm">comment sa marche ?</a>
                </div>
                <div>
                    <p>+ d'info</p>
                    <a href="">Conditions générales</a>
                    <a href="">Politique de Confidentialité</a>
                    <a href="">Mentions légales</a>
                    <a href="javascript:popup('#popup-contact')">contact</a>
                </div>
            </div>
            <div class="telecharger">
                <p>Suivez nous</p>
                <div>
                    <a href=""><img src="./assets/img/footer/facebook.svg" alt="logo facebook"></a>
                    <a href=""><img src="./assets/img/footer/instagram.svg" alt="logo instagram"></a>
                    <a href=""><img src="./assets/img/footer/linkedin.svg" alt="logo linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copright">
        <p>&copy; 2021 | WOOZOO</p>
    </div>
</footer>