<app-header-professionnel [contenuVisibleOffres]="contenuVisible"></app-header-professionnel>
<div id="professionnel"> <!-- POUR BACKGROUND MAP-->
    <app-presentation></app-presentation>
    <app-offres [contenuVisibleOffres]="contenuVisible"></app-offres>
    <app-valeurs></app-valeurs>
    <app-secteurs></app-secteurs>
    <app-commentaires></app-commentaires>
    <app-clients-slider></app-clients-slider>
    <app-devis></app-devis>
    <app-offres-details #contenuVisible></app-offres-details>
    <app-partenaires></app-partenaires>
</div>
<app-footer></app-footer>