div{
    background-color: #00061c;
    background: url(/assets/img/map.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

@media screen and (max-width : 800px){
    div{
        background: none;
        &:before {
            content: "";
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url(/assets/img/map.png) no-repeat;
            background-position: 70%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}
